@import "vanilla-framework";
@include vanilla;

.blog-card {
  @extend .p-card--highlighted;
  border-radius: 2px 2px 0 0;
  border-top: 3px solid #666666;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &__header {
    padding-bottom: 0.5rem;
    margin-top: -0.5rem;
  }

  &__content {
    border-width: 1px;
    border-color: #d9d9d9;
    border-style: dotted hidden dotted hidden;
    margin: 0 -0.5rem;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    height: 100%;

    &__footer {
      @extend .p-card__content;
      font-style: italic;
    }
  }

  &__footer {
    @extend .p-card__content;
    font-size: 0.875rem;
    padding-top: 1rem;
  }

  &--canonical-announcements {
    border-color: #ff8936
  }
  &--cloud-and-server {
    border-color: #a87ca0
  }
  &--desktop {
    border-color: #faba54
  }
  &--internet-of-things {
    border-color: #8db255
  }
  &--phone-and-tablet {
    border-color: #d9d9d9
  }
  &--webinar {
    border-color: #48929b
  }
  &--tutorials {
    border-color: #47919e
  }
}
